<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TLW.SpamMashine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TLW.SpamMashine.Properties.Settings.dbConnectionString"
      connectionString="Data Source=192.168.10.4;Initial Catalog=lanta;Persist Security Info=True;User ID=sysadm;pwd=ieheg"
      providerName="System.Data.SqlClient" />
    <add name="TLW.SpamMashine.Properties.Settings.lantaConnectionString"
      connectionString="Data Source=192.168.10.4;Initial Catalog=lanta;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <TLW.SpamMashine.Properties.Settings>
      <setting name="BottomToInternal" serializeAs="String">
        <value>
          &lt;center&gt;
          &lt;br&gt;
          &lt;br&gt;
          По вопросам работы системы автоматического оповещения обращайтесь по адресу:&lt;a href="mailto:imt.man5@lantatur.ru"&gt;kropotov@lantatur.ru&lt;/a&gt;
          &lt;/center&gt;
          &lt;/body&gt;
          &lt;/html&gt;
        </value>
      </setting>
      <setting name="ErrorMailFrom" serializeAs="String">
        <value>Spamus_Service_ERR@lantatur.ru</value>
      </setting>
      <setting name="ErrorMailIfMailAddressError" serializeAs="String">
        <value>mar.man6@lantatur.ru</value>
      </setting>
      <setting name="HeadToInternal" serializeAs="String">
        <value>
          &lt;html&gt;
          &lt;head&gt;
          &lt;title&gt;Автоматическое извещение об изменениях в путевке&lt;/title&gt;
          &lt;/head&gt;
          &lt;body&gt;
          &lt;center&gt;
          &lt;img src="http://www.lantatur.ru/img/logo.gif"&gt;&lt;br&gt;
          Сервис автоматического оповещения
          &lt;/center&gt;
          &lt;br&gt;
        </value>
      </setting>
      <setting name="SubjectBeg" serializeAs="String">
        <value>Ланта-тур вояж:</value>
      </setting>
      <setting name="BottomToExternal" serializeAs="String">
        <value>
          &lt;/body&gt;
          &lt;/html&gt;
        </value>
      </setting>
      <setting name="ErrorMailToAdmin" serializeAs="String">
        <value>itm.man5@zmail.lantatur.ru</value>
      </setting>
      <setting name="ExecuteInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="HeadToExternal" serializeAs="String">
        <value>
          &lt;html&gt;
          &lt;head&gt;
          &lt;title&gt;Автоматическое извещение об изменениях в путевке&lt;/title&gt;
          &lt;/head&gt;
          &lt;body&gt;
          &lt;center&gt;
          &lt;img src="http://www.lantatur.ru/img/logo.gif"&gt;&lt;br&gt;
          Полную информацию смотрите на сайте &lt;a href="http://www.lantatur.ru/OrderListBonus/"&gt;www.lantatur.ru&lt;/a&gt;&lt;br&gt;
          &lt;/center&gt;&lt;br&gt;
        </value>
      </setting>
      <setting name="SMTP_Server2" serializeAs="String">
        <value>zmail.lantatur.ru</value>
      </setting>
      <setting name="SMTP_Server2_UsedForAddress" serializeAs="String">
        <value>mar.doc@lantatur.ru</value>
      </setting>
      <setting name="SMTP_Server" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
    </TLW.SpamMashine.Properties.Settings>
  </applicationSettings>
</configuration>